<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar ftco-navbar-light site-navbar-target" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" href="index.html">Wahba</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
      aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>
    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav nav ml-auto">
        <li class="nav-item"><a href="index.html#home-section" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="index.html#about-section" class="nav-link">About Me</a></li>
        <li class="nav-item"><a href="index.html#press-section" class="nav-link">Press/Media</a></li>
        <li class="nav-item"><a href="index.html#contact-section" class="nav-link">Contact</a></li>
      </ul>
      <div class="d-flex align-items-center">
        <a href="portfolio.html" class="btn btn-primary py-2 px-3 me-2">Portfolio</a>
        <a href="docs/Curriculum Vitae, Wahba (May 2025).pdf" class="btn btn-primary py-2 px-3" target="_blank"
          rel="noopener">Download Full CV</a>
        <a href="mailto:mrswahba13@gmail.com" class="btn btn-link text-light" title="Email Michael Wahba"><span
            class="icon-envelope"></span></a>
        <a href="https://www.linkedin.com/in/michael-wahba/" class="btn btn-link text-light"
          title="Visit Michael Wahba's LinkedIn profile" target="_blank" rel="noopener"><span
            class="icon-linkedin-square"></span></a>
        <a href="https://github.com/mwahba13" class="btn btn-link text-light"
          title="Visit Michael Wahba's GitHub profile" target="_blank" rel="noopener"><span
            class="icon-github"></span></a>
      </div>
    </div>
  </div>
</nav>
